*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

html, body {
  height: 100%;
}

:root {
    --background: #F3F4F6;
    --sidebar: #1F2937;
    --card: #FFFFFF;
    --text-primary: #111827;
    --text-secondary: #6B7280;
    --borders-lines: #E5E7EB;
    --primary-accent: #3B82F6;
    --secondary-accent: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;
    --succes: #22C55E;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

.header {
    background-color: var(--card);
    color: var(--text-primary);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
    
}

.sidebar {
    background-color: var(--sidebar);
    color: var(--background);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.board {
    background-color: var(--background);
    color: var(--text-primary);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr 0.5fr;
    gap: 8px;
    
}


.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}

.header-bottom {
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.sidebar-top, .sidebar-bottom {
  display: flex;
  flex-direction: column;
}

.board-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  padding: 16px;
} 

.card {
  background-color: var(--card);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-left: 10px solid #3B82F6;
}

.board-header {
  background-color: var(--background);
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 16px;
  
}

.board-side {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
}

.board-footer {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background-color: var(--background);
}

.board-side-header {
  grid-area: 1 / 2 / 2 / 3;
  padding-left: 16px;
}

.side-card {
  background-color: var(--card);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.second-side-card {
  display: flex;
  flex-direction: column;
}

.card2 {
  height: 100%;
  width: 100%;
  background-color: var(--card);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}